<ion-view view-title="Deposit">
  <ion-content>
    <div>
      <br/><br/>
      <span style="font-size: 20px; float: right; margin-right: 20px;">Current Balance : &#x20B9; &nbsp; {{bankDetails.amount}}</span>
    </div>
    <form name="loginForm" class="login-form" novalidate>
      <div class="list">

        <div class="form-data">
          <label class="item item-input no-border">
            <span class="input-label">Deposit Amount</span>
            <input name="amount" type="number" class="border" ng-model="withdrawData.amount" required>
          </label>
          <span style="color:red;padding: 0 16px;" ng-show="loginForm.amount.$dirty && loginForm.amount.$invalid">
            <span ng-show="loginForm.amount.$error.required">Amount is required.</span>
          </span>

          <label class="item no-border">
            <button class="button button-block button-positive" ng-disabled="loginForm.amount.$invalid" type="button" ng-click="doDeposit(withdrawData)">Deposit</button>
          </label>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>